## OS
.DS_Store
.editorconfig
.idea
.npmrc
package-lock.json

## Ignored suffix
*.ico
*.log
*.md
*.njsproj
*.ntvs*
*.png
*.sln
*.suo
*.svg
*.sw?
*ignore

## Local
.env.*.local
.husky
.vscode
.VSCodeCounter

## Built-files
.cache
dist
